:root{
	--color-primary: whitesmoke;
	--color-secondary: #FFB500;
	--color-background: #351C15;
}

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
    /* this is a weird way to do fonts,
    but it's the only way I've found to use
    google's product sans */
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--color-background);
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: 'Product Sans';
}

.banner{
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: var(--color-background);
    height: 20vh;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.user-input{
	text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#city-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: center;
	height: 60vh;
	font-size: 2.2rem;
}

.city-form-input{
	color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 10vh;
}

.btn, .btn:link, .btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4.0rem;
	display: inline-block;
	margin: 1rem;
	font-size: 2rem;
	border-radius: 10rem;
	border-color: rebeccapurple;
	transition: all .2s;
	position: relative;
	background-color: oldlace;
}

.btn:hover{
	transform: translateY(-.3rem);
	box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);
}
	
.btn:active{
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
}

.display{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.display-city{
	color: var(--color-secondary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10rem;
	font-size: 2.2rem;
	width: 100%;
}

.display-image img{
	height: 9rem;
}